__pycache__/
*.py[cod]

shared/admin/*
shared/config/*

backend/app/video/scripts/*
backend/app/language/classifier/results/*
backend/app/language/classifier/weights/*
backend/app/language/classifier/cache/*
backend/app/language/ner/results/*
backend/app/language/ner/weights/*
backend/app/language/ner/cache/*

logs/files/*
events.out.tfevents.*

.cache
.env
.venv
env/
venv/

!logs/files/.gitkeep