__pycache__/
*.py[cod]

shared/admin/*
!shared/admin/.gitkeep
shared/config/*
!shared/config/.gitkeep

electron/node_modules/
electron/dist/
electron/build/
electron/npm-debug.log*
electron/yarn-debug.log*
electron/pnpm-debug.log*
electron/logs/

backend/app/video/scripts/
backend/app/language/classifier/results/
backend/app/language/classifier/weights/
backend/app/language/classifier/cache/
backend/app/language/ner/results/
backend/app/language/ner/weights/
backend/app/language/ner/cache/
backend/logs/files/*
backend/!logs/files/.gitkeep

events.out.tfevents.*

.cache
.env
.venv
env/
venv/