__pycache__/
*.py[cod]

admin
logs/files/*
ideas.pdf
gui.py
video_ai/scripts
language/classifier/results/*
language/ner/results/*
language/ner/weights/*
language/ner/cache/*
events.out.tfevents.*

.cache
.env
.venv
env/
venv/

!logs/files/.gitkeep