accelerate
annotated-types
appopener
anyio
appnope
asttokens
certifi
charset-normalizer
comm
contourpy
coqui-tts
cycler
debugpy
decorator
distro
exceptiongroup
executing
filelock
fonttools
fsspec
geocoder
geopy
GPUtil
google-api-python-client
google-auth-oauthlib
google-cloud-speech
google-cloud
h11
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
openai
openai-whisper
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
pyjokes
PyQt5
ptyprocess
pure-eval
python-weather
pynput
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
roboflow
safetensors
scikit-learn
scipy
sentencepiece
six
spotipy
sniffio
stack-data
sympy
sounddevice
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
ultralytics
wcwidth
wikipedia