wikipedia
roboflow
ultralytics
torch
pyjokes
PyQt5
google-api-python-client
google-auth-oauthlib
google-cloud-speech
google-cloud
coqui-tts
geocoder
geopy
spotipy
python-weather
appopener
GPUtil
pynput
openai-whisper
sounddevice