:root {
    /* Colours */
    --primary-dark: #17301c;
    --primary-light: #748e54;
    --secondary-dark: #553739;
    --secondary-dark-hover: #442d2e;
    --secondary-light: #ffd5c2;
    --accent: #92dce5;
    --white: #fff;
    --black: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}