@import url("constants.css");

body {
  margin: 0;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: var(--white);
  flex-direction: column;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: .3s all ease;
}

a:hover {
  color: var(--light);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  overflow: visible;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--black);
}

nav button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  margin: 0 5px;
}