.widgets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .widgets {
        grid-template-columns: repeat(2, 1fr);
        overflow-y: auto;
    }
}

@media (min-width: 1199.98px) {
    .widgets {
        grid-auto-rows: 370px;
    }
}

.widget {
    background-color: white;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
}

#weather {
    background: linear-gradient(to top, #1e90f5, #00f2fe);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

#weather .location {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 10px;
    text-align: left;
}

#weather .temperature,
#weather .precipitation {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: right;
}

#weather .description {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

#spotify {
    background: linear-gradient(145deg, #24e668, #11642e 50%);
    color: var(--black);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    padding: 20px;
    gap: 10px;
}

#spotify .box {
    border-radius: 10px;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    white-space: nowrap;
}

#spotify .box.black {
    background-color: #00220b;
    color: white;
}

#spotify .box.white {
    background-color: #79ff80;
    color: black;
}

#spotify .playback-bar {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 8px;
    background-color: var(--black);
    border-radius: 4px;
    overflow: hidden;
    margin: 8px auto;
}

#spotify .playback-fill {
    height: 100%;
    background-color: #1db954;
    width: 0%;
    transition: width 0.3s ease;
}

#spotify .time-container {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

#spotify .title,
#spotify .next-artist,
#spotify .next-title,
#spotify .artist,
#spotify .album-name {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

#spotify .next-title {
    font-size: 15px;
}

#spotify .album-cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-color: black;
}

#none {
    background-color: black;
    outline: dotted 5px;
    position: relative;
}

#none::after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 4px var(--white);
}

@media (max-width: 991.98px) {
    .widgets::-webkit-scrollbar {
        width: 12px;
    }

    .widgets::-webkit-scrollbar-thumb {
        background-color: var(--primary-light);
        border-radius: 10px;
        border: 3px solid var(--black);
    }

    .widgets::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: var(--primary-dark);
    }

    .widgets::-webkit-scrollbar-track {
        background-color: var(--black);
        border-radius: 10px;
    }
}