.widgets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(340px, auto);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    max-height: 80vh;
}

@media (max-width: 991.98px) {
    .widgets {
        grid-template-columns: repeat(2, 1fr);
        overflow-y: auto;
    }
}

.widget {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

#weather {
    background: linear-gradient(to top, #1e90f5, #00f2fe);
    color: var(--black);

    --location: 'Unknown';
    --temperature: '0°C';
    --precipitation: '0%';
    --description: 'Unknown';
}

#weather::before {
    content: var(--location);
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

#weather::after {
    content: var(--temperature) " | Precipitation: " var(--precipitation) " | " var(--description);
    display: block;
    font-size: 1.2rem;
    margin-top: 4px;
    opacity: 0.9;
}

#none {
    background-color: var(--black);
    outline: dotted 5px;
    position: relative;
}

#none::after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 40px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 4px var(--white);
}

@media (max-width: 991.98px) {
    .widgets::-webkit-scrollbar {
        width: 12px;
    }

    .widgets::-webkit-scrollbar-thumb {
        background-color: var(--primary-light);
        border-radius: 10px;
        border: 3px solid var(--black);
    }

    .widgets::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: var(--primary-dark);
    }

    .widgets::-webkit-scrollbar-track {
        background-color: var(--black);
        border-radius: 10px;
    }
}